* {
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 218, 10);
    margin: 0;
}

section{
    margin: 0 auto;
    position: relative;
}

#game{
    margin: auto;
}

#score-board{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 100px;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 10px;
}


#score-board > *{
    margin: 0;
    flex-basis: 50%;
    font-family: "Tiny5";
}

#game-grid{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 570px;
}

#lives{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    width: 450px;
    height: 100px;
    padding-left: 10px;
}

.life{
    width: 50px;
    height: 50px;
    background-image: url(../images/pacmanstopped.png);
    background-position: center;
    background-size: cover;
}

.cell{
    width: 30px;
    height: 30px;
    color: white;
}

.wall{
    background-color: blue;
}

.open{
    background-color: black;
}

.pacdot{
    background-image: url(../images/pacdot.png);
}

.power-pellet{
    background-image: url(../images/powerpellet.png);
    animation: blink .5s infinite;
}

@keyframes blink{
    1%{
        background-image: none;
    }
}

.pacman{
    background-image: url(../images/pacman\ eating.webp);
    background-position: center;
    background-size: cover;
    animation: none;
    transform: rotate(180deg);
}

.red{
    background-image: url(../images/redleft.gif);
    background-position: center;
    background-size:cover;
    animation: none;

}

.blue{
    background-image: url(../images/blueghost.gif);
    background-position: center;
    background-size:cover;
    animation: none;

}

.pink{
    background-image: url(../images/pinkghost.gif);
    background-position: center;
    background-size:cover;
    animation: none;

}

.orange{
    background-image: url(../images/orangeghost.gif);
    background-position: center;
    background-size:cover;
    animation: none;

}

.frightened{
    background-image: url(../images/frightenedghost.gif);
    background-position: center;
    background-size:cover;
    animation: none;
}
